<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
  <meta charset="UTF-8">
  <title>Fictional Train</title>
</head>

<body>
<h1>환영합니다!</h1>

<div th:if="${#authentication.name == 'anonymousUser'}">
  <a href="/login">로그인</a>
</div>

<div th:unless="${#authentication.name == 'anonymousUser'}">
  <p>현재 접속자: <span th:text="${#authentication.name}">사용자</span></p>
  <form th:action="@{/logout}" method="post">
    <button type="submit">로그아웃</button>
  </form>
</div>
</body>

</html>